/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50: #e0f3f6,
    100: #b3e0e9,
    200: #80ccdb,
    300: #4db8cd,
    400: #26a8c2,
    500: #0099b7,
    600: #0091b0,
    700: #0086a7,
    800: #007c9f,
    900: #006b90,
    A100: #bceaff,
    A200: #89dbff,
    A400: #56cbff,
    A700: #3cc4ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
