<nav>
    <div class="container">
        <div class="menu">
            <ul class="menu__logo">
                <li>
                    <a href="https://www.sysmap.com.br/index.php" target="_blank">
                        <img src="https://i.ibb.co/S71KyPt/logo.png" alt="Sysmap">
                    </a>
                </li>
            </ul>
            <ul class="menu__networks">
                <li>
                    <a href="https://www.facebook.com/SysMap-Solutions-689274014783049/" target="_blank">
                        <img src="https://i.ibb.co/nrSMqGQ/facebook-social-top.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/sysmap-solutions/?originalSubdomain=pt" target="_blank">
                        <img src="/assets/linkedin_social_top.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <app-table-component></app-table-component> -->